@use "../../../token/build/scss/variables" as *;

$palette-neutral-100: $palette-mode-1-neutral-100;
$palette-neutral-200: $palette-mode-1-neutral-200;
$palette-neutral-250: $palette-mode-1-neutral-250;
$palette-neutral-300: $palette-mode-1-neutral-300;
$palette-neutral-400: $palette-mode-1-neutral-400;
$palette-neutral-500: $palette-mode-1-neutral-500;
$palette-neutral-600: $palette-mode-1-neutral-600;
$palette-neutral-700: $palette-mode-1-neutral-700;
$palette-neutral-800: $palette-mode-1-neutral-800;
$palette-neutral-900: $palette-mode-1-neutral-900;
$palette-neutral-000: $palette-mode-1-neutral-000;

:root {
  --background-primary: #{$design-token-light-background-primary};
  --background-secondary: #{$design-token-light-background-secondary};
  --background-sub: #{$design-token-light-background-sub};
  --background-highlight: #{$design-token-light-background-highlight};
  --border-primary: #{$design-token-light-border-primary};
  --border-secondary: #{$design-token-light-border-secondary};
  --text-primary: #{$design-token-light-text-primary};
  --text-secondary: #{$design-token-light-text-secondary};
  --general-black: #{$design-token-light-general-black};
  --general-white: #{$design-token-light-general-white};
  --general-red: #{$design-token-light-general-red};
  --general-blue: #{$design-token-light-general-blue};
}

html[data-theme="dark"] {
  --background-primary: #{$design-token-dark-background-primary};
  --background-secondary: #{$design-token-dark-background-secondary};
  --background-sub: #{$design-token-dark-background-sub};
  --background-highlight: #{$design-token-dark-background-highlight};
  --border-primary: #{$design-token-dark-border-primary};
  --border-secondary: #{$design-token-dark-border-secondary};
  --text-primary: #{$design-token-dark-text-primary};
  --text-secondary: #{$design-token-dark-text-secondary};
  --general-black: #{$design-token-dark-general-black};
  --general-white: #{$design-token-dark-general-white};
  --general-red: #{$design-token-dark-general-red};
  --general-blue: #{$design-token-dark-general-blue};
}
