.container {
  display: flex;
  min-width: 180px;
  padding: 10px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 14px;

  &:hover {
    background: var(--Background-Highlight);
    cursor: pointer;
  }

  .icon {
    border-radius: 4px;
    background: var(--Background-Sub);
    display: flex;
    width: 30px;
    height: 30px;
    padding: 3px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      aspect-ratio: 1/1;
    }
  }

  .label {
    color: var(--Text-Primary);

    /* Sub */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }
}
