.container {
  color: var(--Text-Primary);
  text-align: center;
  /* Headline */
  font-family: "Pretendard Variable";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 50.4px */
}
